* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root{
    --tc-title: #e53170;
    --tc-accent: #55c2e2;
    --tc-card: #0f0e17;
    --tc-info: #d7d6d7;
    --tc-shadow: #cacac9;
}

.container {
    width: 65%;
    max-width: 1170px;
    margin: auto;
}

.title {
    text-align: center;
    padding: 20px;
}

h1 {
    color: var(--tc-title);
    margin: 20px;
}

p {
    font-weight: 400;
    margin: auto;
}

h3 {
    font-weight: 600;
    font-size: 17px;
    padding: 2px;
}

.row {
    padding: 5px;
}

.col {
    width: calc(100% / 3);
    float: left;
    padding: 15px 10px;
}

.card {
    background: black;
    box-shadow: 0px 0px 10px var(--tc-shadow)
}

.card img {
    width: 65px;
    float: left;
}

.card .content {
    color: white;
    padding-left: 90px;
}

a:hover{
    color: blue;
}

a {
    text-decoration: none;
    color: var(--tc-accent);
    font-size: 12px;
}

p {
    font-size: 12px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}