* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    border: 1px solid black;
}

.container{
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.title{
    text-align: center;
}

.row{
    padding: 5px;
}

.col{
    width: calc(100% / 3);
    float: left;
    padding: 5px;
}

.card {
    background: black;
}
.card img {
    width: 70px;
    float: left;
}
.card .content {
    color: white;
    padding-left: 110px;
    vertical-align: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
