* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.title {
    text-align: center;
}

h1 {
    color: deeppink;
    margin: 20px;
}

p {
    font-weight: 400;
    margin: auto;
    padding: 10px;
}

h3 {
    font-weight: 600;
}

.row {
    padding: 5px;
}

.col {
    width: calc(100% / 3);
    float: left;
    padding: 15px 10px;
}

.card {
    background: black;
    border: 1px solid;
    box-shadow: 0px 0px 7px;
}

.card img {
    width: 70px;
    float: left;
}

.card .content {
    color: white;
    padding-left: 90px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a,
span {
    font-weight: 300;
    font-size: 12px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}