* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.title{
    text-align: center;
}

h1{
    color: deeppink;
    margin: 20px;
}

p{
    margin: 25px;
}

.row{
    padding: 5px;
}

.col{
    width: calc(100% / 3);
    float: left;
    padding: 15px 10px;
}

.card {
    background: black;
}
.card img {
    width: 70px;
    float: left;
}
.card .content {
    color: white;
    padding-left: 110px;
    vertical-align: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
